$color-background = #VA-11 HALL-B
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #2B0A52
$color-scrollbar = #AAA
$color-meta = #2B0A52
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(86, 124, 119, .4)
$color-text = #DCE0E3
$color-accent-1 = #FF1365
$color-accent-2 = rgba(86, 124, 119, .8)
$color-accent-3 = #666
$color-quote = #FF1365
$highlight = hexo-config("highlight") || "github"
